In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('cars.csv')
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.10313,8221.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.03608,9135.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.84786,13196.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.91314,16342.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.17032,NaN,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [6]:
from sklearn.model_selection import train_test_split

In [9]:
df_train,df_test=train_test_split(df,test_size=0.5)

In [14]:
df_train.to_csv('df_train.csv', index = False)

In [15]:
df_test.to_csv('df_test.csv',index=False)