In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the local file cars.csv and split the data set equally  into test set and training set.

In [2]:
df=pd.read_csv('cars.csv')
df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.10313,8221.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.03608,9135.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.84786,13196.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.91314,16342.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.17032,NaN,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
692,33183.33260,9795.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
693,31002.73442,15087.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
694,30075.99473,22052.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
695,29844.20400,23143.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
696,28432.82421,25247.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df_train,df_test=train_test_split(df,test_size=0.2,random_state=0)

In [6]:
df_train.to_csv('df_train.csv',index=False)
df_test.to_csv('df_test.csv',index=False)

In [7]:
df_train

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
272,11699.03392,19816.0,Chevrolet,Cavalier,Sedan 4D,Sedan,4,2.2,4,1,1,1
487,21765.06658,25794.0,Pontiac,Bonneville,GXP Sedan 4D,Sedan,8,4.6,4,1,0,1
127,31132.21349,23124.0,Cadillac,Deville,Sedan 4D,Sedan,8,4.6,4,1,1,1
236,12425.38917,22771.0,Chevrolet,Cavalier,LS Coupe 2D,Coupe,4,2.2,2,0,1,1
144,42377.95544,NaN,Cadillac,STS-V8,Sedan 4D,Sedan,8,4.6,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
359,31186.74146,NaN,Chevrolet,Corvette,Coupe 2D,Coupe,8,6.0,2,1,0,1
192,11302.90299,14627.0,Chevrolet,AVEO,LT Sedan 4D,Sedan,4,1.6,4,0,1,0
629,14853.19901,24270.0,Pontiac,Vibe,Sportwagon 4D,Wagon,4,1.8,4,0,0,0
559,14963.04562,31471.0,Pontiac,Grand Prix,GT Sedan 4D,Sedan,6,3.8,4,1,1,0
684,30122.42974,14568.0,SAAB,9_3 HO,Arc Sedan 4D,Sedan,4,2.0,4,1,1,1

In [8]:
df_test

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
607,15505.29381,24239.0,Pontiac,Vibe,AWD Sportwagon 4D,Wagon,4,1.8,4,1,0,0
243,13167.70232,NaN,Chevrolet,Cavalier,LS Sedan 4D,Sedan,4,2.2,4,0,1,1
603,16551.21957,19531.0,Pontiac,Vibe,AWD Sportwagon 4D,Wagon,4,1.8,4,1,1,1
690,35033.21545,1676.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
360,21757.04951,NaN,Chevrolet,Impala,LS Sedan 4D,Sedan,6,3.8,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
604,17325.26954,19894.0,Pontiac,Vibe,AWD Sportwagon 4D,Wagon,4,1.8,4,1,0,0
62,23420.70695,18910.0,Buick,Park Avenue,Sedan 4D,Sedan,6,3.8,4,1,0,1
187,11070.06064,25476.0,Chevrolet,AVEO,LT Hatchback 4D,Hatchback,4,1.6,4,0,1,1
485,22231.56315,21929.0,Pontiac,Bonneville,GXP Sedan 4D,Sedan,8,4.6,4,1,1,1
533,17202.83406,9380.0,Pontiac,Grand Am,GT Coupe 2D,Coupe,6,3.4,2,0,1,1